<div class="row">
    <div class="col-6 text-center">
        <img class="mt-5" src="https://images.unsplash.com/photo-1609429019995-8c40f49535a5?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80" alt="bank image">
    </div>
    <div class="col-6">
        <form (ngSubmit)="login()" [formGroup]="loginForm" style="margin-top: 150px;" class="p-3 border">
            <div class="mb-3">
                <label for="acno">Account Number</label>
                <input formControlName="acno" name="acno" id="acno" type="text" placeholder="Account Number" class="form-control">
            </div>
            <div class="mb-3">
                <label for="pswd">Password</label>
                <input formControlName="pswd" name="acno" id="pswd" type="password" placeholder="Password" class="form-control">
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Login</button> &nbsp;
                <span>New User? Click here to <a href="">Register</a></span>
            </div>
        </form>
    </div>
</div>
